[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/plugins/start/nvim-dap"]
	path = pack/plugins/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "pack/plugins/start/nvim-dap-ui"]
	path = pack/plugins/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule "pack/plugins/start/nvim-dap-virtual-text"]
	path = pack/plugins/start/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text
